VITE_API_BASE_URL=http://127.0.0.1:8000
VITE_BASE_PATH=/budjettihaukka/
VITE_DEV_API_TARGET=http://127.0.0.1:8000
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=valtion-budjetti-data.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=valtion-budjetti-data
VITE_FIREBASE_STORAGE_BUCKET=valtion-budjetti-data.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=524401221130
VITE_FIREBASE_APP_ID=1:524401221130:web:da159b39858c1d250989f3
